<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <EnableADPublish>true</EnableADPublish>
    <ADDirectoryAccessLevel>0</ADDirectoryAccessLevel>
    <ADDomain>valkian.com</ADDomain>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://www.valkian.com</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <TargetFramework>netcoreapp3.1</TargetFramework>
    <ProjectGuid>07520f00-1fb7-4938-9952-ce4d1ec28e1a</ProjectGuid>
    <SelfContained>false</SelfContained>
    <MSDeployServiceURL>valkian1.cloudapp.net</MSDeployServiceURL>
    <DeployIisAppPath>vk20</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>Guillermo</UserName>
    <_SavePWD>True</_SavePWD>
    <ADAppIDUri>https://valkian.com/WebApp-www.valkian.com</ADAppIDUri>
    <ADDestinationProvisioned>True</ADDestinationProvisioned>
    <ADUsesOwinOrOpenIdConnect>true</ADUsesOwinOrOpenIdConnect>
    <ADClientAPPID>369cd5c9-1600-4406-87e6-6d1e43175ed8</ADClientAPPID>
    <ADClientPassword>qy/663nxaUQ/4jU+nvmVQFfszM0dC9iv53Y02Q0hksw=</ADClientPassword>
    <ADReplyUrl>https://www.valkian.com/</ADReplyUrl>
    <ADIssuer />
    <ADTenantId>88821f99-620c-4bda-a0a9-99b64e2518bb</ADTenantId>
    <ADPostLogoutRedirectUri>https://www.valkian.com/</ADPostLogoutRedirectUri>
    <_DestinationType>AzureVirtualMachine</_DestinationType>
  </PropertyGroup>
</Project>